body {
    margin-top: 60px;
	margin-right: 60px;
	margin-left: 60px;
	margin-bottom: auto;
}

img {
	margin: 3px;
	padding: 3px;
	border: 2px solid #eeeeee;
	max-width: 100%;	
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

table {
    empty-cells: hide;
	padding: 20px;
}

.banner-button {
    background-color: #eeeeee;
    border: #999;
	padding: 5px 5px;
    text-align: center;
	color: #000000;
    font-weight: bold;
    display: inline-block;
	width: 100%;
}

.banner-custom {
	border: 2px solid #999; 
	padding: 5px 5px; 
	border-radius: 10px;
}

.banner-title {
	text-align: center;	
}