
<!DOCTYPE html>
<html>
	{% include header.html %}
	<body>
		<div class="navbar navbar-default navbar-fixed-top" id="navigation">
			<div class="container">
				<a href="/" class="navbar-brand">Sushobhan Sen</a>					
				<ul class="nav navbar-nav nav-tabs">
					<li><a href="/bio.html">Bio</a></li>
					<li><a href="/publications.html">Publications</a></li>
					<li><a href="/research.html">Research</a></li>
					<li><a href="/teaching.html">Teaching</a></li>
					<li><a href="/travel.html">Travel</a></li>
				</ul>
				
				<ul class="nav navbar-nav navbar-right nav-tabs">
					<li><a href="mailto:sushobhan.sen@gmail.com" target="_blank"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></li>
					<li><a href="https://github.com/sushobhansen" target="_blank"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a></li>
					<li><a href="https://scholar.google.com/citations?user=Az0zTVgAAAAJ&hl=en" target="_blank"><i class="ai ai-google-scholar ai-lg" aria-hidden="true"></i></a></li>
					<li><a href="https://www.linkedin.com/in/sushobhansen/" target="_blank"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></li>
				</ul>
			</div><!--container-->
		</div><!--navbar-->
		
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		{% include footer.html %}
	</body>
</html>
