
<!DOCTYPE html>
<html>
	{% include header.html %}
	<body>
		<div class="navbar navbar-default navbar-fixed-top" id="navigation">
			<div class="container">
				<a href="/" class="navbar-brand">Sushobhan Sen</a>					
				<ul class="nav navbar-nav">
					<li><a href="/bio.html">Bio</a></li>
					<li><a href="/publications.html">Publications</a></li>
					<li><a href="/research.html">Research</a></li>
					<li><a href="/travel.html">Travel</a></li>
				</ul>
				
				<ul class="nav navbar-nav navbar-right">
					<li><a href="mailto:sushobhan.sen@gmail.com">Email</a></li>
					<li><a href="https://github.com/sushobhansen">Github</a></li>
				</ul>
			</div><!--container-->
		</div><!--navbar-->
		
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		{% include footer.html %}
	</body>
</html>
