
<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
            		<li><a href="/bio.html">Bio</a></li>
	        	<li><a href="/publications.html">Publications</a></li>
        		<li><a href="/research.html">Research</a></li>
            		<li><a href="/travel.html">Travel</a></li>
    		</ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:sushobhan.sen@gmail.com">Email</a></li>
        		<li><a href="https://github.com/sushobhansen">Github</a></li>
			</ul>
		</footer>
	</body>
</html>
